
/* Sidebar */


.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .item.active {
    background: var(--dark);
}
.challenge{
    width : 1100px;
    max-width: 1430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-title {
    width : 1100px;
    margin-bottom: 2%;
    margin-top: 2%
}

.category-container {
    display: flex;
    flex-wrap: wrap;
}
.one-quiz-block {
    background: var(--dark);
    flex-basis: calc(33.333% - 10px);
    width : 33%;
    height: 75px;/* Assuming a gap of 10px */
    margin: 5px; /* Half of the gap */
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left : 0.5%;
    padding-right: 0.5%;
    padding-bottom : 7%;
}

.one-quiz-block .title {
    font-size : 2em;
}

.one-quiz-block .score{
    font-size : 1em;
    align-self: flex-start;
}
.one-quiz-block .bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.one-quiz-block .writer{
    font-size : 1em;
    align-self: flex-end;
}

/*@media (max-width: 1100px) {*/
/*    .sidebar {*/
/*        margin-left: -250px;*/
/*    }*/

/*    .sidebar.open {*/
/*        margin-left: 0;*/
/*    }*/

/*    .content {*/
/*        width: 100%;*/
/*        margin-left: 0;*/
/*    }*/
/*    .challenge{*/
/*        width : 100%;*/
/*    }*/
/*    .category-title {*/
/*        width : 100%;*/
/*    }*/
/*    .chbox{*/
/*        width : 100%;*/
/*    }*/
/*}*/

/*@media (min-width : 900px){*/
/*    .content{*/
/*        min-width: 1430px;*/
/*    }*/

/*}*/

.content-in-challenge{
    display: flex;
    flex-direction: column;


}


.writer{

    text-overflow : ellipsis;
}

.popupBoxTitle {
    color : white;
    margin-bottom: 10px;
}
#popupTitle{
    font-weight: bold;
    text-align: center;
}

#popup {
    background-color:  #181818;
    padding-left : 2%;
    padding-right: 2%;
    padding-top:0.5%;
    padding-bottom : 0.5%;
    margin-top: 20px;

}

.popupBoxContent{
    margin-bottom: 8px;
    color : white;
    height : 8%;
    display: flex;
    align-items: center;
}

.flag-title{

}

.warning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupFlagInput{
    background-color: white;
    color : #6c7293;
    border : 1px solid #000;
    flex: 0 0 80%;
    margin-right: 2%;
}

.titleFlex .popupBoxContent{
    padding-left : 1%;
}

.myButton {
    flex: 0 0 20%;
    background-color:white;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.myButton:active {
    background-color: black;
    color: white;
}

.flagFlex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
}


.rankTableContent td{

    color : white;
    border : solid white 1px;
}

.rankTableContent {
    display: flex;
}
.rankTableTitleTr td{
    color : white;
}
.rankTableDiv td {
    color : white;
}
.rankTableContentRank {
    width:20%!important;
}
.rankTableTitleRank{
    width:20%!important;
}
.rankTableContentName {
    width:46%!important;
}
.rankTableTitleName{
    width:46%!important;
}
.rankTableContentTime {
    width:33%!important
}

.rankTableTitleTime{
    width:33%!important
}

.rankTableDiv{
    margin-bottom: 20px;
    padding-top : 5%;
    text-align: center;
}

.rankTableTitleTr{
    display : flex;
    margin-bottom:10px;
}
.rankTableTitle{
    display:block;
}

#contentDiv{
    height : 90%;
    position:relative;
}
.change-challenge-rank{
    border-color : transparent;color : white; padding-right: 2%; padding-left : 2%;
}


.nameheightDiv{
    height :15%;
}
.titleFlex{
    display: flex;
    align-items: center;
    height : 10%;
}


.popupBoxContent.description  {
    height : 250px;
    display: block;
    align-items: stretch;
    margin-bottom: 8px;
}
.attatchmentDiv{
    height : 5%
}