
/* Sidebar */


.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .item.active {
    background: var(--dark);
}
.challenge{
    width : 1100px;
    max-width: 1430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-title {
    width : 1100px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
}
.one-quiz-block {
    background: var(--dark);
    flex-basis: calc(33.333% - 10px);
    width : 33%;
    height: 75px;/* Assuming a gap of 10px */
    margin: 5px; /* Half of the gap */
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left : 0.5%;
    padding-right: 0.5%;
    padding-bottom : 7%;
}

.one-quiz-block .title {
    font-size : 2em;
}

.one-quiz-block .score{
    font-size : 1em;
    align-self: flex-start;
}
.one-quiz-block .bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.one-quiz-block .writer{
    font-size : 1em;
    align-self: flex-end;
}

@media (max-width: 1100px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
    .challenge{
        width : 100%;
    }
    .category-title {
        width : 100%;
    }
    .chbox{
        width : 100%;
    }
}

@media (min-width : 900px){
    .content{
        min-width: 1430px;
    }

}

.content-in-challenge{
    display: flex;
    flex-direction: column;


}


.writer{

    text-overflow : ellipsis;
}

.popupBoxTitle {
    color : var(--primary);
    font-family: "Font Awesome 5 Free";
    margin-bottom: 10px;
}

#popup {
    background-color:  var(--dark);
    padding-left : 2%;
    padding-right: 2%;
    padding-top:0.5%;
    padding-bottom : 0.5%;
    margin-top: 20px;
    border : red solid 1px;
    overflow: auto;
}

.popupBoxContent{
    margin-bottom: 5px;
    color : white;
    height : 8%;
    background-color : #51566e;
    overflow: auto;
    padding-left : 8px;
    display: flex;
    align-items: center;
}

.flag-title{

}
.popupBoxContent.description  {
    height : 20%;
    overflow: auto;
    display: block;
    align-items: stretch;
}