:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
}

/*** layout ***/
.layout-nav {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content : center;
}
.layout-content-no-footer {
    width: 100%;
    height: 93vh;
    display: flex;
    justify-content : center;
}


.content{
    flex-direction: column;
    align-items: center;
    /*max-width: 1680px;*/
    /*position : fixed;*/
    margin: 0 auto;
    background: var(--dark);
    background-image: url("../images/login/space2.jpg");
    transition: 0.5s;
    display:flex;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 868px;
}

/*** Navbar ***/
.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .item {
    color: var(--light);
}

.content .navbar .item:hover,
.content .navbar .item.active {
    background: var(--dark);
}

.content .navbar .main-link::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}
.nav-item{
    margin: 0 8px 0 8px;
}

.content .navbar .main-link[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-nav .start-item {
    display: flex;
    margin-right: auto;
}

.navbar-nav .end-item {
    display: flex;
    margin-left: auto;
}

.navbar-nav .end-item {
    display: flex;
    margin-left: auto;
}
@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}
@media (max-width: 1280px){
    .navbar{
        width: 1280px;
    }
    .content-login {
        width: 1280px;
    }
}
@media (max-width: 1680px){
    .navbar{
        width: 1680px;
    }
    .content-login {
        width: 1680px;
    }
}
@media (min-width: 1680px){
    .navbar{
        width: 100%;
    }
    .content-login {
        width: 100%;
    }
    #background-video {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}


/*** content-login ***/
.content-login {
    background-image: url("../images/login/ship1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}



/*** main page ***/
#background-video {
    position : fixed;
    opacity : 0.5;
    z-index: -1;
}

.background {
    max-height: 940px;
}

.main-title{
    font-size : 70px;
    color : white;
    font-weight: bold;
    z-index: 1;
    top : 310px;
    position : relative;
    text-align : center;
    height : 100px;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
}
